body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1073px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:18px;
}
#u4219 {
  position:absolute;
  left:114px;
  top:35px;
  width:191px;
  height:18px;
  text-align:center;
}
#u4220 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u4221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:485px;
}
#u4221 {
  position:absolute;
  left:54px;
  top:63px;
  width:325px;
  height:485px;
}
#u4222 {
  position:absolute;
  left:2px;
  top:234px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
}
#u4223 {
  position:absolute;
  left:499px;
  top:35px;
  width:135px;
  height:18px;
}
#u4224 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u4225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:486px;
}
#u4225 {
  position:absolute;
  left:405px;
  top:63px;
  width:323px;
  height:486px;
}
#u4226 {
  position:absolute;
  left:2px;
  top:235px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
}
#u4227 {
  position:absolute;
  left:808px;
  top:35px;
  width:209px;
  height:18px;
}
#u4228 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u4229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:486px;
}
#u4229 {
  position:absolute;
  left:752px;
  top:63px;
  width:321px;
  height:486px;
}
#u4230 {
  position:absolute;
  left:2px;
  top:235px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
