body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1073px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:18px;
}
#u4233 {
  position:absolute;
  left:114px;
  top:35px;
  width:191px;
  height:18px;
  text-align:center;
}
#u4234 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u4235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:485px;
}
#u4235 {
  position:absolute;
  left:54px;
  top:63px;
  width:325px;
  height:485px;
}
#u4236 {
  position:absolute;
  left:2px;
  top:234px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:18px;
}
#u4237 {
  position:absolute;
  left:499px;
  top:35px;
  width:135px;
  height:18px;
}
#u4238 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u4239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:486px;
}
#u4239 {
  position:absolute;
  left:405px;
  top:63px;
  width:323px;
  height:486px;
}
#u4240 {
  position:absolute;
  left:2px;
  top:235px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:18px;
}
#u4241 {
  position:absolute;
  left:808px;
  top:35px;
  width:209px;
  height:18px;
}
#u4242 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u4243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:486px;
}
#u4243 {
  position:absolute;
  left:752px;
  top:63px;
  width:321px;
  height:486px;
}
#u4244 {
  position:absolute;
  left:2px;
  top:235px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
