body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1105px;
}
#u24 {
  position:absolute;
  left:-180px;
  top:45px;
  width:1200px;
  height:1105px;
}
#u25 {
  position:absolute;
  left:2px;
  top:544px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
